:root {
  color-scheme: light;
  --marfil: #FFF9F8; --rosa: #FFF3F6; --surface: #FFFFFF; --papel: #FFF7EE;
  --noche: #11152E; --muted: #5F6273; --border: #ECE4E7; --primary: #E91662;
  --primary-dark: #c80f51; --turquoise: #009BA5; --orange: #E96F00; --purple: #7936D2;
  --red: #D62650; --blue: #008EB5; --teal: #008F70; --shadow: 0 18px 45px rgb(17 21 46 / 10%);
  --radius-sm: 12px; --radius-md: 16px; --radius-lg: 24px; --max: 1280px;
}

[data-theme="dark"] { color-scheme: dark; --marfil: #080817; --rosa: #16132B; --surface: #101126; --papel: #1D1735; --noche: #F9F7FC; --muted: #B6B2C2; --border: #292540; --primary: #FF3D8D; --primary-dark: #ff70ad; --turquoise: #17E0E4; --orange: #FF9D2E; --purple: #B45CFF; --red: #FF506F; --blue: #24C8EF; --teal: #20D5A7; --shadow: 0 18px 45px rgb(0 0 0 / 26%); }

@media (prefers-color-scheme: dark) { :root[data-theme="system"] { color-scheme: dark; --marfil: #080817; --rosa: #16132B; --surface: #101126; --papel: #1D1735; --noche: #F9F7FC; --muted: #B6B2C2; --border: #292540; --primary: #FF3D8D; --turquoise: #17E0E4; --orange: #FF9D2E; --purple: #B45CFF; --red: #FF506F; --blue: #24C8EF; --teal: #20D5A7; } }
